DBUtils==1.1
Django==1.9
MySQL-python==1.2.5
PAM==0.4.2
Pillow==2.3.0
SQLAlchemy==1.0.5
Twisted-Core==13.2.0
Twisted-Web==13.2.0
adium-theme-ubuntu==0.3.4
amqp==1.4.9
anyjson==0.3.3
apt-xapian-index==0.45
argparse==1.2.1
beautifulsoup4==4.5.1
billiard==3.3.0.22
bs4==0.0.1
celery==3.1.19
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
django-celery==3.1.17
django-mysqlpool==0.1-9
duplicity==0.6.23
html5lib==0.999999999
httplib2==0.8
image==1.4.4
kombu==3.0.33
lockfile==0.8
lorun==1.0.2
lxml==3.3.3
meld3==1.0.2
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pymongo==3.0.3
pyserial==2.6
pysmbc==1.0.14.1
python-Levenshtein==0.12.0
python-apt==0.9.3.5
python-debian==0.1.21-nmu2ubuntu2
pytz==2015.7
pyxdg==0.25
redis==2.10.5
reportlab==3.0
requests==2.8.1
sessioninstaller==0.0.0
six==1.5.2
software-center-aptd-plugins==0.0.0
supervisor==3.2.0
system-service==0.1.6
unity-lens-photos==1.0
urllib3==1.7.1
wechat-sdk==0.5.8
wheel==0.24.0
wsgiref==0.1.2
xdiagnose==3.6.3build2
xlrd==0.9.4
xlwt==1.0.0
zope.interface==4.0.5
