{% extends "base.html" %}
{% block page_title %}WeJudge 账号授权系统 - 登录请求{% endblock %}
{% block page_body %}
    <div class="page_container">
            <div class="panel panel-success" style="max-width: 400px; width: 80%; margin: 0 auto">
                <div class="panel-heading">
                    <span class="panel-title">请登录您要授权的账号</span>
                </div>
                <div class="panel-body">
                    <div align="center">
                        <img src="{% if app.avatar == '' %}/static/images/headimg_placeholder.png{% else %}/resource/headimg/{{ app.avatar }}{% endif %}" width="80" height="80" style="border: 1px solid #333; border-radius: 50%;">
                    </div><br />
                    <div align="center">
                        <h3>{{ app.appname }}
                            <br >
                            <small>{{ app.description }}</small>
                        </h3>
                    </div><br />
                    <div class="alert alert-warning">
                        您的操作将会授权此应用获取以下信息
                        <ul>
                            <li>账号基本信息</li>
                            <li>账号详细资料</li>
                        </ul>
                    </div>
                    <form action="?{{ urlcall }}" method="post">
                        <input type="hidden" name="confirm" value="1">
                        <button class="btn btn-block btn-success" {% if not user_session.is_logined %}disabled{% endif %}>确定授权</button>
                    </form><br />
                    <form action="?{{ urlcall }}" method="post">
                        <input type="hidden" name="confirm" value="0">
                        <button class="btn btn-block btn-danger" {% if not user_session.is_logined %}disabled{% endif %}>取消授权</button>
                    </form>
                </div>
            </div>

    </div>
{% endblock %}
{% block  page_script %}
    {% if not user_session.is_logined %}
    <script type="text/javascript">
    $(function () {
       WeJudge.login_request_dialog();
    });
    </script>
    {% endif %}
{% endblock %}