<form class="form" method="get" action="" id="problem_filter_form">
    <div class="input-group">
        <div class="input-group-addon">关键字</div>
        <input name="keyword" type="text" class="form-control" value="{{ keyword }}" placeholder="标题的关键字"/>
    </div><br>
    <div class="input-group">
        <div class="input-group-addon">发布者</div>
        <input name="author_id" type="text" class="form-control" value="{{ author_id }}" placeholder=""/>
        <div class="input-group-addon">
            <select name="author_type" id="">
                <option value="">学号/工号/ID</option>
                <option value="[n]" {% if author_type == '[n]' %}selected{% endif %}>昵称</option>
                <option value="[r]" {% if author_type == '[r]' %}selected{% endif %}>真实姓名</option>
            </select>
        </div>
    </div><br>
    <div class="input-group">
        <div class="input-group-addon">难易度</div>
        <select class="form-control" name="diff">
            <option value="-1">全部</option>
            {% for d in difficulty %}
                {% if d.0 != -1 %}
                <option value="{{ d.0 }}" {% if d.0 == diff %}selected{% endif %}>{{ d.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <input type="hidden" value="{{ asgn_id }}" name="asgn_id">
    <br>
    <div class="input-group">
        <div class="input-group-addon"><input type="checkbox" name="desc" id="" value="1" {% if desc %}checked{% endif %}>倒序排列</div>
    </div>
    <input type="submit" value="" style="display: none">
</form>