{% extends 'helper/student_guide/base.html' %}
{% block page_header %}
    <link rel="stylesheet" href="/static/guide/students/anim.css">
    <script type="text/javascript" src="/static/guide/students/animation.js"></script>
{% endblock %}
{% block page_body %}
    <div id="head">
        <div id="head-backphoto">
            <img src="/static/guide/students/img/head.png" width="100%" height="100%">
        </div>
        <div id="square" style="position: absolute;left:432px;top:-12px;">
            <img  src="/static/guide/students/img/虚线方框%20题库.png">
        </div>

    </div>
    <div id="main">
        <div >
            <img src="/static/guide/students/img/main.png" width="100%" height="100%" style="filter:blur(5px);-webkit-filter: blur(5px);">
        </div>
        <div id="intro"style="position:absolute;left:400px;top:30px; display: none">
            <img src="/static/guide/students/img/便签.png">
            <p class="introduce">
                当学院进行与ACM相关的比<br>
                赛时,你可以在这里进行报名<br>
                和比赛。平时,此功能将不对<br>
                外开放
            </p>
            <a  href="{% url 'helper_guide_student_viewer' 6 %}"><img id="next" src="/static/guide/students/img/next.png" style="position: absolute;left: 240px;top:172px;cursor: hand"></a>
        </div>
    </div>
{% endblock %}