{% extends 'helper/student_guide/base.html' %}
{% block page_header %}
    <link rel="stylesheet" href="/static/guide/students/anim.css">
    <script type="text/javascript" src="/static/guide/students/animation.js"></script>
{% endblock %}
{% block page_body %}
    <div>
        <div id="head">
            <div id="head-backphoto">
                <img src="/static/guide/students/img/workHead.png" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div id="main">
        <div >
            <img src="/static/guide/students/img/workMain.png" width="100%" height="100%" id="mainPhoto">
        </div>
        <div><img style="position: absolute;top: 162px;left: 23px;" src="/static/guide/students/img/我的选课.png"></div>
        <div ><img id="square" src="/static/guide/students/img/选课边框.png" style="position: absolute;top: 114px;left: -13px;"></div>
        <div id="intro"style="position:absolute;left:200px;top:200px; display: none">
            <img src="/static/guide/students/img/便签.png">
            <p class="introduce">
                当你的选课大于一门的时候,<br>
                你可以通过点击课程来切<br>
                换作业列表
            </p>
            <a  href="{% url 'helper_guide_student_viewer' 9 %}"><img id="next" src="/static/guide/students/img/next.png" style="position: absolute;left: 240px;top:172px;cursor: hand"></a>
        </div>
    </div>
{% endblock %}