<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WeJudge 学生使用说明</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/library/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/guide/students/pointerMove.css">
    <script type="text/javascript" src="/static/guide/students/pointerMove.js"></script>
    {% block page_header %}{% endblock %}
</head>
<body style="margin: 0;">
    {% block page_body %}{% endblock %}
</body>
</html>